---
import { Card, Hero } from '@blog/ui';
import { getEntry } from 'astro:content';
import Layout from '../../layouts/PageLayout.astro';
const blogPost = await getEntry('posts', 'my-first-post');

import type { SEOProps } from 'astro-seo';

const metadata: SEOProps = {
  title: 'The cgranados.dev Blog',
  description:
    "Welcome to my blog! Here you'll find posts about web development, software engineering, and other topics that interest me.",
};
---

<Layout metadata={metadata}>
  <div class="container flex-1">
    <Hero />
    <Card post={blogPost} />
    <div class="mb-12"></div>
  </div>
</Layout>
