<section class="py-12 flex relative flex-col">
    <h1 class="text-4xl lg:text-9xl font-bold">
        My Journal
    </h1>
    <h2 class="pt-5 text-4xl lg:text-4xl text-gray-500">
        Here you can find my thoughts, ideas and projects.
    </h2>
</section>
<div class="border-b-8 mt-12 mb-24 border-gray-500 rounded-full"></div>
