---
import Layout from '../layouts/Layout.astro';
import Card from '../components/landing/Card.astro';
import Hero from '../components/landing/Hero.astro';
import { Button } from '@ui';
import { getCollection, getEntry } from 'astro:content';
const blogPost = await getEntry('posts', 'my-first-post');
const blogPost2 = await getEntry('posts', 'why-astro');

---

<Layout title="The cgranados.dev Blog">
    <Hero/>
    <Card post={blogPost}/>
    <div class="mb-12"></div>
    <Card post={blogPost2}/>
</Layout>
