---
import { Button, SocialMediaIcons } from '@cgranados.dev/shared/ui';
import { Logo, createHeaderConfig } from '@cgranados.dev/shared/ui-header';
import { Link } from '@cgranados.dev/blog/ui';
import { ModeToggle } from './ModeToggle';
import { NavMobile } from './NavMobile';

const config = createHeaderConfig('blog');
---

<header
  class="bg-background/95 supports-backdrop-filter:bg-background/60 sticky top-0 z-50 w-full border-b backdrop-blur-xl"
>
  <div class="container flex items-center justify-between py-2">
    <div class="flex lg:flex-1">
      <Logo currentApp="blog" client:load />
    </div>
    <div class="hidden lg:flex lg:gap-x-2">
      {
        config.links.map((link) => {
          // Handle external links
          if (link.external || link.href.startsWith('http')) {
            return (
              <a href={link.href}>
                <Button variant="ghost">{link.label}</Button>
              </a>
            );
          }
          // Handle internal links
          return (
            <Link href={link.href}>
              <Button variant="ghost">{link.label}</Button>
            </Link>
          );
        })
      }
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <SocialMediaIcons />
      <ModeToggle client:load />
    </div>
    <NavMobile client:load />
  </div>
</header>
