---
import Layout from './Layout.astro';

import { Header } from '@cgranados.dev/blog/header';
import { Footer } from '@cgranados.dev/shared/ui';
import type { SEOProps } from 'astro-seo';

export interface Props {
  metadata?: SEOProps;
}

const { metadata = {} } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer />
  </slot>
</Layout>
