---
import { Link } from '@cgranados.dev/blog/ui';
import { Logo, metadata } from '@cgranados.dev/shared/header';
import { Button, SocialMediaIcons } from '@cgranados.dev/shared/ui';
import { ModeToggle } from './ModeToggle';
import { NavMobile } from './NavMobile';
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur-xl supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex items-center justify-between py-2">
    <div class="flex lg:flex-1">
      <Logo />
    </div>
    <div class="hidden lg:flex lg:gap-x-2">
      {
        metadata.links.map((link) => (
          <Link href={link.href}>
            <Button variant="ghost">{link.label}</Button>
          </Link>
        ))
      }
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <SocialMediaIcons />
      <ModeToggle client:load />
    </div>
    <NavMobile client:load />
  </div>
</header>
